<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <display-name>CRUD Project</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>Alumno</servlet-name>
    <servlet-class>controller.Alumno</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Alumno</servlet-name>
    <url-pattern>/Alumno.do</url-pattern>
  </servlet-mapping>
</web-app>

